.container{
    display: flex;
    flex-flow: row;
}
.items {
    background-color: bisque;
    padding: 5px;
    flex: 1;
}

@media print {
    .items {
        background-color: cadetblue;
        font-size: 100px;
    }
}
@media all and (orientation:landscape) {
    .items {
        background-color: cadetblue;
    }
}

@media screen and (max-width:480px){
    body{
        background-color: darksalmon;
    }
}

@media screen and (min-width: 481px) and (max-width:768px) {
    body {
        background-color: brown;
    }
}
@media screen and (min-width: 769px) and (max-width:1279px) {
    body {
        background-color: blue ;
    }
}

@media screen and (min-width: 1280px) {
    body {
        background-color: blueviolet;
    }
}